@import url("https://fonts.googleapis.com/css?family=Jockey+One");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,700");
body {
  background-color: #d8d8b2; 
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: black; }

p a:link, p a:visited {
  color: #8731ce;
  font-weight: bold;
  text-decoration: none; }

p a:hover, p a:active {
  color: #b485db;
  font-weight: bold;
  text-decoration: none; }

a.button:link, a.button:visited {
  background-color: black;
  padding: 20px;
  border-radius: 30px;
  color: white;
  background-color: black;
  text-decoration: none;
  transition: ease .3s; }

a.button:hover, a.button:active {
  background-color: gray;
  transition: ease .3s; }

div.post-content {
  margin: 0 20% 100px; }
  div.post-content p {
    line-height: 1.5em; }

.wrapper {
  margin: 0 20% 100px; }

h1 {
  text-align: center; }

th {
  text-align: left;
  font-size: 1.5em;
  padding: 10px; }
  th span {
    font-weight: 400;
    font-size: 1rem; }

/*tr:last-child {
  padding-bottom: 200px;
}*/
figure {
  /*max-height:50px;*/
  padding-top: 5px;
  /*display: inline-block;*/
  margin: 10px;
  margin-bottom: 0; }

figure img {
  max-height: 25px;
  width: auto; }

body {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-weight: 300;*/
  height: 100vh;
  margin: 0;
  /*overflow: hidden;*/ }

div.mobile {
  display: none; }

.change span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px); }
.change span:nth-child(2) {
  opacity: 0; }
.change .menu-icon:hover span:nth-child(2) {
  opacity: 0; }
.change span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-9px, -9px); }
.change .menu {
  display: block;
  /*animation-name: fromleft;
  animation-duration: .5s;*/
  left: 0; }

#mapid {
  height: 100%;
  /*min-height: 400px;*/
  width: 100%;
  margin: 0px auto 0;
  z-index: 1; }

.map-wrapper {
  width: 59.5%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: inline-block; }
  .map-wrapper p {
    text-align: right;
    margin-top: 0;
    padding-right: 10px; }

#tablediv {
  display: inline-block;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  /*top: 0px;*/
  /*top: 0;*/
  /*min-width: 600px;*/
  overflow-wrap: break-word;
  overflow: auto;
  /*margin-bottom: 100px;*/
  /*padding-bottom: 300px;*/ 
}
#tablediv div {
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em;
}
  #tablediv div img {
    height: 20px;
    width: auto;
    padding: 0px 10px;
    vertical-align: center; }
  #tablediv div h4 {
    display: inline-block; 
    margin: 0;
    font-weight: bold;
    color: #4e1207;
  }
  #tablediv h2 {
    padding-left: 10px;
    font-family: 'Lobster', cursive;
    color: #4e1207;
    margin: 10px 0;
  }
  #tablediv div span {
    font-weight: 400; }
  #tablediv div.location:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.07); }
  #tablediv tr:nth-of-type(2) img {
    -webkit-animation: blink 1s;
    animation: blink 1s;
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2; }
  #tablediv td:last-child {
    /*background-color: blue;*/
    max-width: 30vw; }
  #tablediv td:nth-child(2) {
    /*background-color: blue;*/
    max-width: 30vw; }

.key h2 {
  display: inline;
  margin-bottom: 10px; }

.key {
  /*max-width: 600px;*/
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  flex-direction: row-reverse;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
  align-items: flex-start; }

td {
  padding: 10px;
  overflow-wrap: break-word;
  min-width: 150px; }

div.location {
  overflow: hidden; }

div.location.show {
  box-shadow: 5px 5px 20px gray;
  padding-bottom: 10px; }

.subdiv {
  display: none;
  padding: 10px;
  height: 0px;
  overflow: hidden;
  transition: ease all .5s; }

.show .subdiv {
  display: block;
  height: auto; }

footer {
  background-color: black;
  min-height: 300px;
  padding: 20px 0;
  overflow: hidden; }
  footer p {
    color: white; }
  footer img {
    height: 60px; }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    footer .wrapper div {
      min-width: 220px;
      max-width: 300px; }
  footer ul {
    list-style: none; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .3; }
  100% {
    opacity: 1; } }
/*------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Tablet ------------------------------------------------ */
/*------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .map-wrapper {
    width: 100%;
    height: calc(45vh - 3.7em);
    overflow: hidden; }

  header {
    height: 4em;
    overflow: hidden; }

  #mapid {
    height: 105%;
    overflow: hidden; }

  #tablediv {
    width: 100%;
    height: calc(45vh - 3.7em);
    /*overflow: hidden;*/ }

  td {
    padding: 5px;
    min-width: 70px; }

  th {
    padding: 5px; }

  h1 {
    font-size: 2em;
    /*height: 4vh;*/
    margin: 10px 0 0 50px; }

  .key .desktop {
    display: none; }

  div.key.mobile {
    display: flex !important;
    position: relative;
    /*top: 85vh;*/
    /*z-index: 9999;*/
    /*height: 5vh;*/
    width: 100%;
    height: 3.7em;
    /*overflow: hidden;*/
    flex-wrap: wrap;
    /*height: 300px;*/
    justify-content: center;
    align-content: top; }

  figure {
    font-size: .9em;
    margin: 5px;
    max-height: 20px; }

  figure img {
    max-height: 20px; }

  .key h2 {
    margin: 10px 0 0 0;
    max-height: 30px;
    /*margin-block-end: 0em;*/ }

  .key p {
    width: 100%;
    flex: 0 0 auto;
    /*margin: 0;*/
    /*display: */
    /*min-width: 300px;*/
    padding: 0;
    margin: 0;
    /*margin-top: -20px;*/
    order: 5;
    font-size: .8em;
    text-align: center; }

  body {
    /*height: 100vh;*/
    /*overflow: hidden;*/ }

  div.post-content {
    margin: 0 10% 100px; }

  .wrapper {
    margin: 0 10% 100px; }

  .home #skyline svg {
    min-width: 901px;
    width: 132%;
    left: -140%;
    right: -160%;
    margin: auto;
    bottom: 0;
    height: 190px; } }
/*------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Mobile ------------------------------------------------ */
/*------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 500px) {
  header h1 {
    margin-top: 5px;
    margin-left: 70px; }
  header h2 {
    margin-left: 70px;
    font-size: 3.5vmin; }

  div.menu-icon {
    width: 3.5em;
    height: 3em;
    border-bottom-right-radius: 25px; }

  td {
    height: 50px; }
    td span {
      margin-right: 10px; }
    td img {
      height: 30px;
      padding: 5px;
      margin: 0 5px;
      background-color: gray;
      width: auto;
      border-radius: 5px;
      vertical-align: middle; } }
